# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Others
*~
wumpus

# Qt
*.pro.user
*.pro

*exemple*

src/client/client
src/serveur/serveur
src/multi_client/client/client
src/multi_client/serveur/serveur

moc*
ui*
qrc_*
src/multi_client/serveur/Makefile
Wumpus
Makefile


# Fichier Mac
*.DS_STORE
